  @font-face {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
  }
  body {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    background-color: #ffffff;
    color: #444444;
  }

  /* title */

  .title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
  }

  /* header */

  .page-header {
    background: #FFE17F;
    color: #000000;
  }
  .menu-item-link {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    text-align: center;
  }
  .navigation-item-link {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-decoration: none;
    color: #000000;
  }

  /* slider */

  .action {
    font-size: 16px;
  }
  .distance {
    font-size: 36px;
    color: #000000;
  }

  /* categories */

  .categories-text {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }
  .categories-image {
    background: #FFE17F;
  }

  /* tabs */

  .conditions-description-list {
    background: #F0F0F0;
  }
  .rectangle-link {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-decoration: none;
    color: #000000;
  }

/* delivery */

  .delivery {
    background: #F0F0F0;
  }
  .delivery-text {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }
  .delivery-image {
    background: #FFE17F;
  }

  /*about; contacts  */

  .about-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
  }
  .contacts-subtitle {
    font-size: 24px;
    line-height: 30px;
  }
  .contacts-address {
    font-style: normal;
  }
  .contacts-address-tel {
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #444444;
  }

/* catalog */

  .main-inner {
    color: #000000; 
  }
  .filter {
    background: #F0F0F0;
  }
  .breadcrumbs-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #000000; 
  }
  .filter-title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
  .filter-choice {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
  }
  .control-input {
    font-size: 16px;
    line-height: 19px;
  }
  .product {
    background: #FFFFFF;
  }
  .product-card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
  }
  .product-card-price {
    line-height: 21px;
    color: #444444;
  }
  .product-card-link {
    text-decoration: none; 
    color: #000000;
  }
  .button-pagination-show-more {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  /* pagination */

  .pagination-list {
    background: #EBEBEB;
  }
  .pagination-link {
    text-decoration: none;
    color: #000000;
  }
  .pagination-text {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
  .pagination-counter-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.3;
    text-align: center;
  }

/* footer */

  .footer {
    background: #444444;
    color: #FFFFFF;
  }
  .footer-address {
    font-style: normal;
  }
  .footer-address-text {
    font-size: 16px;
    line-height: 19px;
  }
  .footer-navigation-item {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    
  }
  .footer-navigation-link {
    color: #FFFFFF;
    text-decoration: none;
  }
  .contacts-phone {
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline; 
    color: #FFFFFF; 
  }
