@font-face {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
  margin: 0;
  box-sizing: border-box;
  padding-top: 40px;
}

.background {
  background: #f0f0f0;
}
.conteiner {
  width: 1160px;
  margin: auto;
}

/* title */

.title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.page-header {
  background: #ffe17f;
  color: #000000;

  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 150px;

  box-sizing: border-box;
}

.search-menu {
  display: flex;
  margin-bottom: 45px;
  margin-top: 30px;
}
.search-form {
  width: 516px;
}
.menu-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu-item {
  margin-left: 60px;
}
.menu-item:first-child {
  margin-left: 0;
  margin-right: auto;
}
.menu-item-link {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  text-align: center;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navigation-item {
  margin-left: 50px;
}
.navigation-item:first-child {
  margin-left: 0;
  margin-right: auto;
}
.navigation-item-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #000000;
}

/* slider */

.slider-list {
  margin: 0;
  padding: 0;
}
.slider-item {
  display: flex;
  margin: 0 auto;
  margin-top: -150px;
}
.slider-wrapper {
  width: 560px;
}
.slider-image-number {
  display: block;
  margin-left: auto;
  margin-right: 60px;
  margin-top: 30px;
}
.slider-conteiner-text {
  width: 560px;
  margin-top: -45px;
  margin-left: 40px;
}
.slider-title {
  margin: 0;
  margin-bottom: 30px;
}
.slider-text {
  margin: 0;
  margin-bottom: 60px;
}

.action {
  font-size: 16px;
}
.distance {
  font-size: 36px;
  color: #000000;
}

/* categories */

.categories {
  margin-top: 70px;
  margin-bottom: 70px;
}
.categories-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.categories-item {
  width: 160px;
}
.categories-text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.categories-image {
  background: #ffe17f;
}

/* tabs */

.conditions-description-list {
  background: #f0f0f0;
}
.rectangle-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #000000;
}

/* delivery */

.delivery {
  display: flex;
  align-items: center;

  background: #f0f0f0;
  margin-top: 70px;
  margin-bottom: 70px;
}
.delivery-text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: auto;
}
.delivery-image {
  background: #ffe17f;
}

/*about; contacts  */

.about-wrapper {
  display: flex;
  justify-content: space-between;
}
.about {
  width: 520px;
}
.about-title {
  margin-top: 40px;
  margin-bottom: 48px;
}
.about-text {
  margin: 0;
  margin-bottom: 30px;
}
.about-list {
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}
.about-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 19px;
}
.about-item:last-child {
  margin-bottom: 0;
}
.contacts {
  width: 532px;
}
.contacts-title {
  margin-top: 40px;
  margin-bottom: 48px;
}
.contacts-text {
  margin: 0;
}
.contacts-subtitle {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 15px;
  margin-top: 30px;
}
.contacts-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}
.contacts-address {
  font-style: normal;
}
.contacts-address-text {
  margin: 0;
}
.contacts-address-tel {
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #444444;
}

/* subscribe */

.subscribe {
  margin-top: 80px;
  padding-bottom: 56px;
}
.subscribe-text-wrapper {
  display: flex;
  justify-content: space-between;
}
.subscribe-title {
  margin: 0;
  margin-top: 64px;
}
.subscribe-text {
  margin: 0;
  margin-top: 74px;
  width: 560px;
}
.subscribe-form {
  margin-top: 144px;
  display: flex;
}
.subscribe-mail {
  width: 810px;
}
.subscribe-form-text {
  margin: 0;
  width: 128px;
  margin-left: auto;
}

/* catalog */

.main-inner {
  color: #000000;
}
.filter {
  background: #f0f0f0;
}
.breadcrumbs-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.filter-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.filter-choice {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}
.control-input {
  font-size: 16px;
  line-height: 19px;
}
.product {
  background: #ffffff;
}
.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}
.product-card-price {
  line-height: 21px;
  color: #444444;
}
.product-card-link {
  text-decoration: none;
  color: #000000;
}
.button-pagination-show-more {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* pagination */

.pagination-list {
  background: #ebebeb;
}
.pagination-link {
  text-decoration: none;
  color: #000000;
}
.pagination-text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.pagination-counter-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;
  text-align: center;
}

/* footer */

.footer {
  background: #444444;
  color: #ffffff;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
}
.address {
  margin-top: 62px;
  margin-bottom: 77px;
  width: 234px;
}
.footer-address {
  font-style: normal;
}
.footer-address-text {
  margin-top: 35px;
  margin-bottom: 64px;
  font-size: 16px;
  line-height: 19px;
}
.footer-navigation {
  margin-top: 137px;
  margin-bottom: 62px;
  width: 444px;
}
.footer-navigation-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  list-style: none;
}
.footer-navigation-item {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.footer-navigation-link {
  color: #ffffff;
  text-decoration: none;
}
.footer-networks-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 150px;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  width: 175px;
  margin-top: 140px;
  margin-bottom: 65px;
}
.contacts-phone {
  display: flex;
  margin: 0;
  height: 20px;
}
.contacts-link {
  /* display: block; */
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #ffffff;
}
.footer-about-text {
  margin: 0;
  margin-top: auto;
  margin-left: auto;
  width: 114px;
}
